In [28]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

# Loading Heart Dataset

In [37]:
df = pd.read_csv('heart_disease.csv')
df.sample(50)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
133,52,1,0,125.152471,211.954241,0,1.0,167.850104,0,0.985901,2.0,2,3.082813,0
31,45,0,1,130.014076,234.236787,0,0.0,175.029338,0,0.569119,1.0,0,1.857329,1
54,56,1,1,119.934048,236.054538,0,1.0,177.953598,0,0.944532,2.0,0,2.144511,1
207,56,1,2,NaN,256.189595,1,0.0,141.981335,1,0.606726,1.0,1,0.983927,0
75,58,1,0,145.979414,218.102085,0,1.0,104.952750,0,1.963749,1.0,1,3.136325,0
164,64,1,3,169.797158,227.099945,0,0.0,155.016160,0,0.533652,1.0,0,3.272126,1
72,59,1,3,159.912844,272.954293,0,0.0,124.980398,0,0.105165,2.0,0,2.047473,0
203,61,1,0,139.931504,206.958953,0,0.0,NaN,1,2.093503,2.0,1,2.998184,0
199,46,0,1,104.942611,204.083958,0,1.0,172.166496,0,-0.176438,2.0,0,1.970499,1
71,42,1,0,135.818989,315.085809,0,1.0,124.923144,1,1.819860,1.0,0,0.858554,0
120,46,1,2,149.925040,230.956267,0,1.0,147.087788,0,3.673157,1.0,0,2.075102,0
173,58,1,0,128.083148,216.032062,0,0.0,130.995494,1,2.351518,1.0,3,2.956360,0
10,71,0,2,110.176447,264.876099,1,0.0,130.008925,0,0.163255,2.0,1,2.050483,1
202,65,0,2,160.031614,359.930615,0,0.0,150.814063,0,0.695325,2.0,0,1.800124,1
77,48,1,1,109.992976,NaN,0,1.0,167.823859,0,NaN,0.0,0,2.771835,0
3,51,1,2,99.934001,NaN,0,1.0,143.049207,1,1.195082,1.0,0,2.100312,1
128,52,1,2,137.977233,222.937493,0,1.0,169.090939,0,0.017090,2.0,4,1.936612,1
13,57,1,1,123.943688,260.978292,0,1.0,141.123261,0,0.296704,2.0,0,3.014369,0
114,35,1,0,120.034046,197.928589,0,1.0,129.735437,1,1.592099,1.0,0,2.914651,0
14,51,1,0,139.898949,298.081012,0,1.0,122.028452,1,4.277138,1.0,3,2.884772,0
156,65,1,0,NaN,253.974040,0,0.0,127.029351,0,2.804510,1.0,1,3.009203,0
62,69,0,3,140.170156,239.295986,0,NaN,150.885498,0,1.688282,2.0,2,2.014749,1
150,71,0,1,159.963230,302.009742,0,1.0,162.062949,0,0.393740,2.0,2,1.852958,1
108,69,1,2,139.921158,254.119878,0,0.0,145.838575,0,2.046385,1.0,3,2.973040,0
90,44,1,1,119.968032,219.998778,0,1.0,170.173439,0,0.051139,2.0,0,2.077047,1
175,68,0,2,119.960367,211.075088,0,0.0,115.010412,0,1.551680,1.0,0,1.944448,1
100,54,1,1,192.020200,283.024208,0,0.0,195.118927,0,-0.113872,2.0,1,2.829133,0
28,64,1,3,109.884776,211.092133,0,0.0,143.970249,1,1.897137,1.0,0,2.122989,1
143,55,0,1,132.065557,342.106509,0,1.0,165.989654,0,1.214041,2.0,0,1.913880,1
22,40,1,3,139.874175,NaN,0,1.0,177.933194,1,1.416943,2.0,0,3.035091,1
5,58,0,2,119.900334,339.874109,0,1.0,NaN,0,-0.080278,2.0,0,2.035667,1
103,38,1,2,138.127030,174.925633,0,1.0,173.028229,0,0.038206,2.0,4,1.947048,1
147,44,1,1,120.075132,263.083580,0,1.0,172.957857,0,-0.024986,2.0,0,3.084199,1
189,42,1,1,119.994264,295.008830,0,1.0,162.130326,0,-0.022243,2.0,0,2.052006,1
52,51,1,0,139.929341,299.227526,0,1.0,172.884320,1,1.426575,2.0,0,3.025083,0
163,63,0,0,124.051766,196.957390,0,1.0,135.877150,1,-0.087626,1.0,0,1.997952,0
113,66,0,3,149.951632,226.095946,0,1.0,113.971446,0,2.620906,0.0,0,2.026655,1
39,46,0,0,138.060733,242.950158,0,0.0,152.025219,1,-0.065718,1.0,0,2.029877,1
197,41,0,1,126.009245,305.940712,0,1.0,162.980352,0,-0.058812,2.0,0,1.884651,1
129,57,1,0,165.076885,289.126858,1,0.0,123.933215,0,0.851338,1.0,3,3.087185,0
56,44,1,2,119.959102,225.934369,0,1.0,168.917804,0,0.032946,2.0,0,2.055664,1
93,48,0,2,130.067979,274.979849,0,1.0,139.139921,0,0.097014,2.0,0,1.838187,1
172,48,1,0,124.019155,273.866716,0,0.0,165.940312,0,0.461065,1.0,0,3.002856,0
170,54,1,0,120.061141,187.878704,0,1.0,113.160900,0,1.397069,1.0,1,2.945035,0
204,47,1,0,109.993898,274.996768,0,0.0,117.880839,1,0.937990,1.0,1,1.969857,0
149,52,1,0,108.022691,232.987465,1,1.0,146.901590,0,0.196908,2.0,3,2.819865,1
67,56,1,0,125.004704,249.021940,1,0.0,143.787948,1,1.294796,1.0,1,1.996580,0
23,44,1,1,129.826285,219.137169,0,NaN,188.099808,0,0.007390,2.0,0,1.869469,1
185,66,0,2,146.101645,277.929051,0,0.0,151.955791,0,-0.080391,1.0,1,1.841225,1
178,58,1,2,112.119252,229.844901,0,0.0,164.961552,0,2.533168,1.0,1,2.859832,0

# Feature descriptions
### Below is the group of features presents in the dataset segregated by their type (numerical, categorical, ordinal, binary)

# Binary
### sex (0 = female; 1 = male)
### fbs: Fasting blood sugar > 120 mg/dl
### exang: Exercise induced angina (0 = no; 1 = yes)
# Categorical
### cp: Chest pain type (0 = Asymptomatic angina; 1 = Atypical angina; 2 = Non-angina; 3 = Typical angina)
### restecg: Resting ECG (0 = Left ventricular hypertrophy; 1 = Normal; 2 = ST-T wave abnormality)
### slope: Slope of the peak exercise ST segment (0 = downsloping; 1 = upsloping; 2 = flat)
### thal: Thalium stress test result (0 = NA; 1 = Fixed defect; 2 = Normal; 3 = Reversible defect)
# Ordinal
### ca: number of major vessels (0-3) colored by flourosopy
# Numeric
### age
### oldpeak: ST depression induced by exercise relative to rest
### trestbps: Resting blood pressure
### chol: Serum cholestoral in mg/dl
### thalach: Maximum heart rate achieved during thalium stress test
# Target
### target: 1 = heart disease; 0 = no heart disease

In [30]:
bins = ['sex', 'fbs', 'exang']
cats = ['cp', 'restecg', 'slope', 'thal']
ords = ['ca']
nums = ['age', 'oldpeak', 'trestbps', 'chol', 'thalach']
target = ['target']

In [31]:
# simple numeric encoding the categorical variables for easy data exploration, you may reverse it later to numeric value for model training and testing

df.cp = df.cp.replace({0:'Asympt.', 1:'Atypical', 2:'Non', 3:'Typical'})
df.restecg = df.restecg.replace({0:'LV hyper', 1:'Normal', 2:'ST-T wave'})
df.slope = df.slope.replace({0:'down', 1:'up', 2:'flat'})
df.thal = df.thal.replace({0:'NA', 1:'Fixed', 2:'Normal', 3:'Revers.'})

In [32]:
df.describe()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,thal,target
count,212.000000,212.000000,205.000000,202.000000,212.000000,208.000000,212.000000,200.000000,212.000000,211.000000,212.000000
mean,54.311321,0.688679,131.784610,244.133256,0.132075,149.647978,0.344340,1.113106,0.731132,2.349112,0.542453
std,9.145339,0.464130,18.057222,46.444257,0.339374,22.076206,0.476277,1.255908,1.038762,0.602117,0.499374
min,29.000000,0.000000,93.944184,126.085811,0.000000,88.032613,0.000000,-0.185668,0.000000,0.858554,0.000000
25%,47.000000,0.000000,119.968114,211.969594,0.000000,135.946808,0.000000,0.050778,0.000000,1.949795,0.000000
50%,55.000000,1.000000,130.010256,241.467023,0.000000,151.939216,0.000000,0.726060,0.000000,2.078759,1.000000
75%,61.000000,1.000000,139.965470,272.484222,0.000000,165.260092,1.000000,1.816733,1.000000,2.970842,1.000000
max,77.000000,1.000000,192.020200,406.932689,1.000000,202.138041,1.000000,6.157114,4.000000,3.277466,1.000000

# Load Iris Datset

# Feature descriptions
### The columns in this dataset are:

### Id
### SepalLengthCm
### SepalWidthCm
### PetalLengthCm
### PetalWidthCm
### Species

In [33]:
df_iris = pd.read_csv('iris_dataset.csv')

In [34]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    105.000000   101.000000     97.000000   105.000000
mean       5.858909     3.059083      3.812370     1.199708
std        0.861638     0.455116      1.793489     0.787193
min        4.344007     1.946010      1.033031    -0.072203
25%        5.159145     2.768688      1.545136     0.333494
50%        5.736104     3.049459      4.276817     1.331797
75%        6.435413     3.290318      5.094427     1.817211
max        7.795561     4.409565      6.768611     2.603123

In [35]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width          species
0      5.045070     2.508203      3.018024     1.164924  Iris-versicolor
1      6.325517     2.115481      4.542052     1.413651  Iris-versicolor
2      5.257497     3.814303      1.470660     0.395348      Iris-setosa
3      6.675168     3.201700      5.785461     2.362764   Iris-virginica
4      5.595237     2.678166      4.077750     1.369266  Iris-versicolor

In [36]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')